@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap";
@import "./style.css";
@import 'mdb-ui-kit/css/mdb.min.css';
@import "bootstrap-icons";
/* @import "bootstrap-icons/font/bootstrap-icons.css"; */
