/* NAVBAR */

.navbar {
    --mdb-navbar-box-shadow: none;
    box-shadow: none !important;
}

.flags {
    border: none;

}

.logoPresto {
    width: 100%;
}

.firstLine {
    padding: 4px;
}

.secondLine {
    padding: 20px;
}

.topbar-link {
    border-left: 2px solid rgba(133, 131, 131, 0.171);
    font-size: 14px;
    color: rgb(121, 121, 121);
    padding-left: 16px;
}

.logo {
    font-size: 30px;
    font-weight: 500;
}

.inputCreate {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #feeceb;
    border: 1px solid transparent;
    color: #D32F2F;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    transition: all 0.2s ease;
    gap: 5px;
}


.box-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;

}

.form-button {

    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #D32F2F;
    border-radius: 25px;
    border: none;
    height: 40px;
}

.form-button:hover {
    background-color: #D32F2F;
    opacity: 0.8;
}

@media screen and (max-width:768px) {
    .secondLine {
        flex-direction: column;
    }

    .logoPresto {
        width: 80%;
        /* margin-left:30px; */
    }

    .box-nav {
        display: flex;
        justify-content: center;
    }

    #navbarNavDropdown {
        justify-content: center !important;
        margin: 0;
        padding-top: 20px;
        padding-right: 40px;
    }

    .navbar-mobile {
        width: 100%;
        justify-content: space-evenly
    }

    .helloPhrase {
        display: none;
    }

    .navbar-custom {
        margin-left: 30px;
    }

    .plus-btn {
        display: none;
    }

    .inputCreate {
        width: 130px;
        text-align: center;
        height: 50px;
    }


}

/* Header */
.row-home {
    height: 20vh;
}

.headerForm {
    border: 1px solid #f3f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.search-btn-wrapper {
    margin-top: 36px;
}

.btnSearch {
    background: #D32F2F;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: transparent;
}

#collapseCategorie,
#collapsePrezzo,
#collapseParola,
#collapseTaglie {
    position: absolute;
    z-index: 999;
    width: 220px;
    border: 1px solid #f7f0f0;
    background: white;
}

.collapseCategorie a {
    color: #333;
    padding: 8px 0;
    transition: background-color 0.3s ease, color 0, 3s ease;
    text-align: center;
}

.collapseCategorie a:hover {
    background-color: #D32F2F;
    color: white;
    font-weight: 600;
}

.btnCategory {
    width: 200px;
    background: white;
    border: 1px solid #e4e0e0;
    height: 36px;
    border-radius: 5px;
}

/* Media query */
@media screen and (max-width:768px) {
    .inputSearch {
        width: 90vw;
    }

    .fidelity-message {
        width: 390px;
        align-items: center;
        

    }
    /* .font-message{
        font-size:smaller;
    } */

}

/* First Section */

.firstSection {
    height: 15vh;
    width: 75% 
}

.imgFirstSection {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-left: 13px;
}

.iconDiv {
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 100px;

}

.iconTransport,
.iconArmchair,
.iconBuilding,
.iconBriefcase {
    height: 80px;
    border: 1px solid #d3d3d370;
    border-radius: 10px;
}

.iconTransport:hover {
    background: #e9edff;
    border: 1px solid rgba(22, 18, 255);
}

.transport {
    background: #e9edff;
}

.transport:hover {
    border: 1px solid rgba(22, 18, 255)
}

.titleTransport {
    color: rgba(22, 18, 255);
}

.iconArmchair:hover {
    background: #fdf6e5;
    border: 1px solid #f2a700;
}

.armchair {
    background: #fdf6e5;
}

.armchair:hover {
    border: 1px solid #f2a700;
}

.titleArmchair {
    color: #f2a700;
}

.iconBuilding:hover {
    background: #f4e9ff;
    border: 1px solid #9924ff;
}

.building {
    background: #f4e9ff;
}

.building:hover {
    border: 1px solid #9924ff;

}

.titleBuilding {
    color: #9924ff;
}

.iconBriefcase:hover {
    background: #e6f8f5;
    border: 1px solid #07bb9c;
}

.briefcase {
    background: #e6f8f5;
}

.briefcase:hover {
    border: 1px solid #07bb9c;
}

.titleBriefcase {
    color: #07bb9c;
}

/* Media query */
@media screen and (max-width:768px) {
    .iconDiv {
        flex-direction: column;
        margin-left: 40px;
    }

    .iconTransport,
    .iconArmchair,
    .iconBuilding,
    .iconBriefcase {
        border: none;

    }

    .imgFirstSection {
        margin-right: 15px;
        margin-top: 15px;
    }

    .titleTransport,
    .titleArmchair,
    .titleBuilding,
    .titleBriefcase {
        margin-top: 20px;
    }
    
}

/* Second Section */
/* .secondSection {
    height: 50vh;

} */

.img-second-section {
    width: 270px;
    height: 300px;
    object-fit: contain;
    border-radius: 20px;
    border: 1px solid #d3d3d370;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Media query */
@media screen and (max-width:768px) {
    .secondSection {
        /* height: 120vh; */
        margin-top: 20px !important;
    }

    .second-section-mobile {
        flex-direction: column;
        align-items: center;
    }
}

/* Third section */

#carouselExample {
  overflow: hidden;   /* usato per risolvere problemi di overflow con il carosello */
}

.col-centered {
    margin: 0 auto;
}

#carouselExample .carousel-control-next {
    right: -80px;

}

#carouselExample .carousel-control-prev {
    left: -50px;

}

/* Media Query */
@media screen and (max-width:768px) {
    #carouselExample .carousel-control-next {
        right: -25px;

    }
    #carouselExample .carousel-control-next-icon {
        display:none;
    }


    #carouselExample .carousel-control-prev {
        left: -5px;

    }
    #carouselExample .carousel-control-prev-icon {
        display:none;
    }
}

/* Info Card */
.categoryBtn {
    /* border: 1px solid #d3d3d3; */
    border-radius: 5px;
    min-width: 190px;
    height: 36px;
    padding: 5px;
    /* background: #F1F3F5 !important; */

}

.text-muted.custom-color {
    color: #D32F2F !important;
}

.card-w {
    min-height: 400px;
}

.detailBtn {
    background-color: #D32F2F;
}

.btnCard {
    background: #D32F2F !important;
    min-width: 120px;

}

/* GRID CONTAINER */
.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    justify-content: center;
}

/* IMAGE */
.card-img-top {
    height: 180px;
    object-fit: cover;
}

/* BODY */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


/* LOGIN */
.login-wrapper {
    background-image: url('/public/media/bg_login_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-article {
    margin-right: 40px;
}

.login-card {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-row {
    min-height: 100vh;
    padding-bottom: 20px;
}


.login-hero-text {
    position: absolute;
    top: 20%;
    left: 50px;
    transform: translateY(-50%);
    max-width: 600px;
    color: #fff;
}

.hero-line-1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
}

.hero-line-2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #D32F2F;
}


@media (max-width: 995px) {
    .login-article {
        height: 70vh;
    }

    .login-wrapper {
        background-image: none !important;
    }

    .add-article-wrapper {
        background-image: none !important;
    }

    .login-article {
        margin-right: 0;
        max-width: 100%;
        justify-content: center;

    }

    .login-card {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        padding: 20px;
    }

    .login-hero-text {
        display: none;
    }
}

/* Register */
.sidebar-register {
    background-color: #f7f8fb;
    padding: 20px;

}

.sidebar-icon {
    background-color: white;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

/* Media query */
@media screen and (max-width:768px) {
    .registerSection {
        margin-left: 50px;
    }
}

/* Add articles section */
.add-article-wrapper {
    background-image: url('/public/media/bg_create_article_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.create-article-form {
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

@media screen and (max-width:768px) {}


/* Tutti gli articoli */
.no-item-container {
    justify-content: center;
    align-items: center;
    min-height: 360px;
    padding: 40px 12px;
    background-color: #f7f8fb;
}

.no-item-icon {
    width: 240px;
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

a.form-button {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .no-item-container {
        display: flex;
        justify-content: center;
    }
}

.create-article-form {
    min-width: 400px;
    background-color: #e6b431;
}

@media (max-width: 997px) {
    .create-article-form {
        width: 100vw;
        background-color: white;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

/* Detail Article */
.btn-custom {
    background: #D32F2F;
    width: 120px;
    border: none;
    height: 40px;
    border-radius: 5px;
}

/* Revisor */
.btn-cancel-revisor {
    background: #2E7D32 !important;
}

.btn-accept {
    background: #2E7D32 !important;
    color: white !important;
}

.btn-cancel {
    background: #D32F2F !important;
    color: white !important;
}




/* Fourth section */
.findMore {
    background: #D32F2F;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: -35px;
}

/* Media query */
@media (max-width: 768px) {

    .img-fourth-section {
        flex-direction: column;
    }

    .findMore {
        height: 50px;
        text-align: center;
        padding: 0;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-mobile {
        padding-top: 10px;
        width: 80%;
    }

}

/* Fifth section */
.work-with-us {
    background: #2E7D32;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.text-section5 {
    width: 60%;
}

.box-section5 {
    width: 80% !important;
}

.img-section5 {
    width: 75%;
}

/* Media query */
@media (max-width: 768px) {
    .box-section5 {
        width: 100%;
        padding: 20px;
    }

    .section5-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .box-section5 {
        width: 90vw !important;
        flex-direction: column;
        gap: 10px;
    }

    .text-section5 {
        width: 100%;
        text-align: center;
    }

    .img-section5 {
        width: 100%;
    }

}

/* Sixth section */
.titleSpan {
    color: #D32F2F;
}

.content-section6 {
    justify-content: center;
}

.img-section6 {
    flex: 0 0 50%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.image-section6 {
    width: 82%;
    max-width: 320px;
}

/* Media query */
@media (max-width: 768px) {

    .content-section6 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .img-section6 {
        display: flex;
        justify-content: center;
    }
}

/* Seventh section */
.container-custom {
    padding-top: 180px;
    height: 75vh;
}

.seventhSection {
    height: 50vh;
    border: 1px solid #d3d3d370;
    border-radius: 20px;
    background: #D32F2F;
}

.qr-code {
    width: 120px;
    height: 120px;

}

.img7section {
    transform: translateY(-90px);
    margin-right: 48px;
}

.star {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.paragraph {
    border-left: 1px solid white;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .img7section {
        display: none;
    }
}


/* Footer */
.logo-footer {
    max-width: 140px;
    height: auto;
}

.container-admin {
    min-height: 60vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

/* HERO SLIDER */
.hero-work {
    position: relative;
    overflow: hidden;
    /* height: 420px;
    max-width: 1300px;
    margin: 0 auto; */
}

.hero-slide {
    height: 420px;
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80%;
}
