.firstLine{
    padding: 4px;
}
.secondLine{
    padding: 20px;
}
.topbar-link{
    border-left: 2px solid rgba(133, 131, 131, 0.171);
    font-size: 14px;
    color: rgb(121, 121, 121);
    padding-left:16px;
    
}

.logo{
    font-size: 30px;
    font-weight: 500;
}

.inputCreate{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffa3a985;
    border: 1px solid transparent;
    color:red;
    border-radius:20px;
    height:40px;
    width: 200px;
    transition: all 0.2s ease;
    gap: 5px;
}
.btn-navbar:hover{
    border:1px solid red;
}

.box-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    
}
.form-button{
    
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #f9423a;
    border-radius: 25px;
    border:none;
    height:40px;
}